numpy
pandas
seaborn
matplotlib
scikit-learn
ipykernel
requests
nltk
xgboost
zenml
mlflow
psycopg2-binary
schedule
mesa
fastapi 
uvicorn 
sqlalchemy 
bcrypt 
streamlit
python-jose 
pydantic[email]
python-multipart
alembic
asyncpg
flask_sqlalchemy
flask_cors
gunicorn
jose
#-e .